<tr>
  <td><%= link_to license.item, license, class: 'text-primary' %></td>
  <td><%= license.key %></td>
  <td><%= link_to(license.device.item, license.device, class: 'text-muted') if license.device %></td>
  <td><%= truncate license.notes %></td>
  <td>
    <div class="dropdown">
      <button class="button is-small dropdown-toggle" type="button" id="dropdownMenuSizeButton<%= license.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton<%= license.id %>" role="menu">
        <div class="dropdown-content">
          <%= link_to 'View', license, class: 'dropdown-item' %>
          <%= link_to 'Edit', edit_license_path(license), class: 'dropdown-item' %>
          <%= link_to 'Delete', license, method: :delete, confirm: 'Are you sure you want to delete this license?', class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </td>
</tr>
