<tr>
  <td><%= link_to person.name, person, class: 'text-primary' %></td>
  <td><%= person.email %></td>
  <td>
    <div class="dropdown">
      <button class="button is-small dropdown-toggle" type="button" id="dropdownMenuSizeButton<%= person.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton<%= person.id %>" role="menu">
        <div class="dropdown-content">
          <%= link_to 'View', person, class: 'dropdown-item' %>
          <%= link_to 'Edit', edit_person_path(person), class: 'dropdown-item' %>
          <%= link_to 'Delete', person, method: :delete, confirm: 'Are you sure you want to delete this person?', class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </td>
</tr>
