<tr>
  <td><%= device.asset_number %></td>
  <td><%= link_to device.item, device, class: 'text-primary' %></td>
  <td><%= link_to_unless_current(device.person.name, device.person, class: 'text-muted') if device.person %></td>
  <td><%= link_to_unless_current device.location.name, device.location, class: 'text-muted' %></td>
  <td><%= truncate device.notes %></td>
</tr>
