<%= form_for @device do |f| %>
  <% if @device.errors.any? %>
    <div class="alert alert-danger">
      <strong>The record couldn't be saved for the following reasons:</strong> <%= @device.errors.full_messages.join('. ') %>.
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_number, 'Asset Number', class: 'label' %>
    <%= f.text_field :asset_number, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :item, 'Item', class: 'label' %>
    <%= f.text_field :item, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :person, class: 'label' %>
    <%= collection_select :device, :person_id, Person.all, :id, :name, { include_blank: true }, { class: 'form-control chosen-select' } %>
  </div>

  <div class="field">
    <%= f.label :location, class: 'label' %>
    <%= collection_select :device, :location_id, Location.all, :id, :name, {}, { class: 'form-control chosen-select' } %>
  </div>

  <div class="field">
    <%= f.label :anydesk_id, 'AnyDesk ID', class: 'label' %>
    <%= f.text_field :anydesk_id, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :notes, class: 'label' %>
    <%= f.text_area :notes, class: 'textarea', rows: 20 %>
  </div>
  
  <div class="field">
    <%= f.submit 'Save', class: 'button is-primary' %>
    <%= link_to 'Cancel', :back, class: 'button' %>
  </div>
<% end %>
