<% if @location.errors.any? %>
  <div class="alert alert-warning">
    <strong>The record couldn't be saved for the following reasons:</strong> <%= @location.errors.full_messages.join('. ') %>.
  </div>
<% end %>

<%= form_for @location do |f| %>
  <div class="field">
  	<%= f.label :name, 'Location Name', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', placeholder: 'Name', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :person, 'Location Managers', class: 'label' %>
    <div class="control">
      <%= f.select :person_ids, Person.all.collect {|p| [ p.name, p.id ] }, {}, { class: 'select chosen-select', multiple: true, 'data-placeholder' => 'Select Location Managers' } %>
    </div>
  </div>

  <div class="field">
    <%= f.label :notes, class: 'label' %>
    <div class="control">
      <%= f.text_area :notes, class: 'textarea', placeholder: 'Notes', rows: 20 %>
    </div>
  </div>

  <div class="field">
    <%= f.submit class: 'button is-primary' %>
    <%= link_to 'Cancel', :back, class: 'button' %>
  </div>
<% end %>
